* {
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(102, 160, 158);
    gap: 30px;

}

.header {
    background-color: rgb(94, 119, 119);
    width: 100%;
    border-bottom: 3px solid rgb(51, 34, 13);
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    align-items: center;
    padding: 10px;

}

.content{

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  min-height: 400px;
  width: 960px;
  height: 960px;
  max-width: 960px;
  max-height: 960px;

}

.container {
    display:grid;
    width: 55%;
    height: 55%;
    border: 5px solid black;
    border-radius: 10px;

}

.buttons {

    background-color: rgb(86, 94, 94);
    width:53%;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-top: 0;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;



}
.cell {
    aspect-ratio: 1/1;
    background-color: #ffffff;
    min-width: 1px;
    min-height: 1px;
}
.hover{
    background-color: rgb(206, 42, 42);
}

button {
    margin: 2px;
    border: 3px solid rgb(4, 38, 42);
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    font-size: 13px;
    font-weight: bolder;
}

input {
    position:relative;
    right:0px;
    top:14px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    
}

button:hover {
    border-color: blue;
    scale: 1.1;
}

input:hover {
    border-color: blue;
    scale: 1.1;
}

